body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 40px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 30px;
}
a {
  color: yellow;
  font-size: 10px;
}
a:hover {
  text-decoration: none;
  color: purple;
}
#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  text-shadow: 1px 1px 5px black;
}
.card{
	padding: 50px;
	font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}